# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General ===
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin
DOMAIN_NAME={{ cookiecutter.project_domain }}

# === Django ===
# Generate yours with:
# python3 -c 'import secrets; print(secrets.token_hex(50))'

DJANGO_SECRET_KEY=__CHANGEME__


# === Database ===
# These variables are special, since they are consumed
# by both django and postgres docker image.
# Cannot be renamed if you use postgres in docker.
# See: https://hub.docker.com/_/postgres

DATABASE_URL=localhost
DATABASE_NAME={{ cookiecutter.project_slug }}

{% if cookiecutter.database == 'postgres' %}
DATABASE_PORT=5432
DATABASE_USER=!!!SET DATABASE_USER!!!
DATABASE_PASSWORD=!!!SET DATABASE_PASSWORD!!!
{% endif %}

{% if cookiecutter.cloud_provider == 'AWS' %}
# AWS
# ------------------------------------------------------------------------------
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
{% elif cookiecutter.cloud_provider == 'GCP' %}
# GCP
# ------------------------------------------------------------------------------
GOOGLE_APPLICATION_CREDENTIALS=
DJANGO_GCP_STORAGE_BUCKET_NAME=
{% endif %}
